@using DemoTools.UIServer.DemoNorthwind
@model AzCustOrderHistListWebDto
@{
    ViewBag.Title = AzCustOrderHistListWebDto.DisplayDescription;
}

<h2>@AzCustOrderHistListWebDto.DisplayDescription</h2>
<div>
    <table>
        <tr>
            <th colspan=" 2 " class="table - title">

            </th>
        </tr>
        <tr>
            <th>ProductName</th>
            <th>Total</th>

            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.ProductName)</td>
                <td> @Html.DisplayFor(modelItem => item.Total)</td>


            </tr>
        }
    </table>
</div>


